<!-- Loading JS file -->
<script src="/js/scatter.js"></script>

<!-- Making table for JS file to access -->
<div style="visibility: hidden">
    <table>
        <thead>
        <tr>
            <td id="testid" class="title">{title: 'Age', minValue: 0, maxValue: 15}</td>
        </tr>
        </thead>
        <tbody>
        {{#each data.row}}
            <tr>
                <td class="name">{{name}}</td>
                <td class="value">{{value}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div style="visibility: hidden">
    {{#each data.xaxis}}
        <p id="xtitle">{{title}}</p>
        <p id="xmin">{{min}}</p>
        <p id="xmax">{{max}}</p>
    {{/each}}
    {{#each data.yaxis}}
        <p id="ytitle">{{title}}</p>
        <p id="ymin">{{min}}</p>
        <p id="ymax">{{max}}</p>
    {{/each}}
</div>

<p id="points">{{data.points}}</p>
<p id="title">{{title}}</p>

<!--Div that will hold the pie chart-->
<p id="uriLoc"></p>
